.chat-message {
  max-width: 80%;
  @apply box-border;
  align-self: start;
  .user-name {
    display: none;
  }
  .message-text {
    word-wrap: break-word;
    em-emoji:only-child {
      font-size: 2em;
    }
  }
  .message-time {
    display: block;
  }
  .message-status {
    display: none;
  }
  .user-avatar {
    opacity: 0;
  }
}

.chat-message.break {
  .user-name {
    display: block;
  }
  .user-avatar {
    opacity: 1;
  }
}
*:not(.chat-message) + .chat-message {
  .user-name {
    display: block;
  }
}

.chat-message.me {
  align-self: end;
  .MuiCard-root {
    background-color: #e5efff;
  }
  .user-name {
    display: none;
  }
  &:last-child .message-status {
    display: block;
  }
}
